@font-face {
  font-family: "Champagne Limousines";
  font-style: normal;
  font-weight: 400;
  src: local("Champagne Limousines"), url(/fonts/ChampagneLimousines.woff?4795ee0261efa7faf43a13c629bd83c2) format("woff");
}
@font-face {
  font-family: "Champagne Limousines";
  font-style: italic;
  font-weight: 400;
  src: local("Champagne Limousines"), url(/fonts/ChampagneLimousines-Italic.woff?6d7eed3b2c53e4a53942c35fed76c8f3) format("woff");
}
@font-face {
  font-family: "Champagne Limousines";
  font-style: normal;
  font-weight: 700;
  src: local("Champagne Limousines"), url(/fonts/ChampagneLimousines-Bold.woff?9d975965d548329d34137b05b0bfd04c) format("woff");
}
@font-face {
  font-family: "Champagne Limousines";
  font-style: italic;
  font-weight: 700;
  src: local("Champagne Limousines"), url(/fonts/ChampagneLimousines-BoldItalic.woff?7690c2d466e72ede78ed8f1645c6be92) format("woff");
}
@font-face {
  font-family: "Champagne Limousines";
  font-style: italic;
  font-weight: 700;
  src: local("Champagne Limousines"), url(/fonts/ChampagneLimousines-BoldItalic.woff?7690c2d466e72ede78ed8f1645c6be92) format("woff");
}
@font-face {
  font-family: "Manege Demo";
  font-style: normal;
  font-weight: 300;
  src: local("Manege Demo"), url(/fonts/ManegeDemo-Light.woff?26d090efb0c3843ad0125896e271a7d7) format("woff");
}
* {
  font-family: "Champagne Limousines", Arial, sans-serif;
  box-sizing: border-box;
}
* body {
  margin: 0;
  padding: 0;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  margin: 0;
  padding: 0;
  font-family: "Manege Demo", Arial, sans-serif;
}

.form-wrapper {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #EFE6DD;
}
.form-wrapper.active {
  display: flex;
}
.form-title {
  margin-bottom: 24px;
}
.form-content {
  width: calc(100% - 2rem);
  max-width: 560px;
  padding: 40px;
  background-color: #fff;
}
.form-label {
  display: block;
  width: 100%;
}
.form-input {
  margin-bottom: 1rem;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #000;
}
.form-input, .form-input-title, .form-input-description, .form-input-button {
  display: block;
  width: 100%;
}
.form-input-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.form-input-description {
  margin-bottom: 5px;
  color: black;
}
.form-input-button {
  margin-top: 2rem;
  height: 60px;
  color: #fff;
  font-family: "Manege Demo", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s ease;
}
.form-input-button:hover {
  background-color: #CB562A;
}

.fortune-wrapper {
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #EFE6DD;
}
.fortune-wrapper.active {
  display: flex;
}
.fortune-content, .fortune-group, .fortune-inner {
  width: 500px;
  height: 500px;
}
.fortune-content {
  position: relative;
}
.fortune-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 50%;
  border: 4px solid #CB562A;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 10s ease;
  position: relative;
}
.fortune-group__wrapper {
  position: absolute;
  z-index: 200;
}
.fortune-inner {
  position: relative;
}
.fortune-inner__wrapper {
  position: absolute;
  z-index: 300;
}
.fortune-inner__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 282px;
  height: 282px;
  background-color: #EFE6DD;
  border: 4px solid #CB562A;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fortune-inner__title {
  color: #ff4b23;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.fortune-inner__title:last-child {
  color: #000;
}
.fortune-inner__arrow {
  width: 60px;
  height: 60px;
  background-color: #b64d26;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
          clip-path: polygon(100% 0, 0 0, 50% 100%);
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.fortune-inner__button {
  display: block;
  padding: 0.5rem 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #CB562A;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50px);
}
.fortune-inner__button:hover {
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #d66439;
}
.fortune-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 207px;
  height: 120px;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fortune-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 210;
}
.fortune-item:nth-child(1) {
  margin-top: -190px;
}
.fortune-item:nth-child(2) {
  margin-top: -135px;
  margin-left: 134px;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.fortune-item:nth-child(3) {
  margin-left: 190px;
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.fortune-item:nth-child(4) {
  margin-top: 135px;
  margin-left: 134px;
  transform: translate(-50%, -50%) rotateZ(135deg);
}
.fortune-item:nth-child(5) {
  margin-top: 190px;
  transform: translate(-50%, -50%) rotateZ(180deg);
}
.fortune-item:nth-child(6) {
  margin-top: 135px;
  margin-left: -134px;
  transform: translate(-50%, -50%) rotateZ(-135deg);
}
.fortune-item:nth-child(7) {
  margin-left: -190px;
  transform: translate(-50%, -50%) rotateZ(-90deg);
}
.fortune-item:nth-child(8) {
  margin-top: -135px;
  margin-left: -134px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.fortune-item__image {
  display: none;
  height: calc(100% - 15px);
}
.fortune-item__title {
  color: #EFE6DD;
  font-weight: 700;
  text-align: center;
}
.fortune-item__subtitle {
  color: rgba(239, 230, 221, 0.6);
  font-weight: 600;
}
@media (max-width: 425px) {
  .fortune-content, .fortune-group, .fortune-inner {
    width: 400px;
    height: 400px;
  }
  .fortune-group {
    transform: scale(0.8);
  }
  .fortune-inner__circle {
    transform: translate(-50%, -50%) scale(0.7);
  }
  .fortune-inner__arrow {
    top: 16px;
    transform: translateX(-50%) scale(0.7);
  }
  .fortune-inner__button {
    transform: translate(-50%, -70px) scale(0.7);
  }
  .fortune-item:nth-child(1) {
    margin-top: -155px;
  }
  .fortune-item:nth-child(2) {
    margin-top: -109px;
    margin-left: 115px;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .fortune-item:nth-child(3) {
    margin-left: 155px;
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  .fortune-item:nth-child(4) {
    margin-top: 115px;
    margin-left: 109px;
    transform: translate(-50%, -50%) rotateZ(135deg);
  }
  .fortune-item:nth-child(5) {
    margin-top: 155px;
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
  .fortune-item:nth-child(6) {
    margin-top: 115px;
    margin-left: -109px;
    transform: translate(-50%, -50%) rotateZ(-135deg);
  }
  .fortune-item:nth-child(7) {
    margin-left: -155px;
    transform: translate(-50%, -50%) rotateZ(-90deg);
  }
  .fortune-item:nth-child(8) {
    margin-top: -115px;
    margin-left: -109px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
}
@media (max-width: 375px) {
  .fortune-content, .fortune-group, .fortune-inner {
    width: 340px;
    height: 340px;
  }
  .fortune-inner__circle {
    transform: translate(-50%, -50%) scale(0.5);
  }
  .fortune-item {
    width: 150px;
  }
  .fortune-item:nth-child(1) {
    margin-top: -125px;
  }
  .fortune-item:nth-child(2) {
    margin-top: -94px;
    margin-left: 95px;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .fortune-item:nth-child(3) {
    margin-left: 125px;
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  .fortune-item:nth-child(4) {
    margin-top: 95px;
    margin-left: 94px;
    transform: translate(-50%, -50%) rotateZ(135deg);
  }
  .fortune-item:nth-child(5) {
    margin-top: 125px;
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
  .fortune-item:nth-child(6) {
    margin-top: 95px;
    margin-left: -94px;
    transform: translate(-50%, -50%) rotateZ(-135deg);
  }
  .fortune-item:nth-child(7) {
    margin-left: -125px;
    transform: translate(-50%, -50%) rotateZ(-90deg);
  }
  .fortune-item:nth-child(8) {
    margin-top: -95px;
    margin-left: -94px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
}

.result-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.result-wrapper.active {
  display: flex;
}
.result-content {
  max-width: 750px;
}
.result-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 600;
}
.result-text b {
  color: #000;
  font-weight: 700;
}
.result-product__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.result-product__text {
  padding-right: 1rem;
}
.result-product__image {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  height: auto;
  min-height: 200px;
  max-height: 200px;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
}
.result-product__image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#result-timer-text {
  font-size: 16px;
  opacity: 0.7;
}
