@mixin font($name, $style, $weight, $path, $format: 'woff') {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        src: local($name), url($path) format($format);
    }
}

@include font('Champagne Limousines', normal, 400, '../fonts/ChampagneLimousines.woff');
@include font('Champagne Limousines', italic, 400, '../fonts/ChampagneLimousines-Italic.woff');
@include font('Champagne Limousines', normal, 700, '../fonts/ChampagneLimousines-Bold.woff');
@include font('Champagne Limousines', italic, 700, '../fonts/ChampagneLimousines-BoldItalic.woff');
@include font('Champagne Limousines', italic, 700, '../fonts/ChampagneLimousines-BoldItalic.woff');

@include font('Manege Demo', normal, 300, '../fonts/ManegeDemo-Light.woff');
