* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#fortune {
    &-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        font-family: sans-serif;
        background-color: #14141b;
    }

    &-start, &-canvas, &-canvas-item {
        width: 1000px;
        height: 500px;
    }

    &-start {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.active {
            display: flex;
        }

        &-text {
            display: block;
            color: #fff;
        }

        &-button {
            padding: .5rem 2rem;
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #CB562A;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &-canvas {
        display: none;
        position: relative;

        &.active {
            display: block;
        }

        &-arrow {
            width: 60px;
            height: 60px;
            background-color: #CB562A;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -5px);
        }

        &-button {
            padding: .5rem 2rem;
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #CB562A;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, calc(100% + 20px));
        }
    }
}
